// Variables
$color-primary: #ffc107;
$color-black: black;
$color-white: white;
$default-font-color: darken(#e9ecef, 60%);
$box-shadow-standard: 0.5rem 0.5rem 0.5rem rgba($color-black, 0.3);
$border-radius-standard: 0.3rem;

// Mixins
@mixin container-settings {
  padding: 1rem 2rem;
  box-shadow: $box-shadow-standard;
  border-radius: $border-radius-standard;
  background-color: $color-white;
  color: $default-font-color;
}

// Utilities
.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.font-large {
  font-size: 2rem;
}

.right {
  text-align: right;
}

// App
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: $color-primary;
}

.jumbotron {
  box-shadow: $box-shadow-standard;
}

.navbar {
  background-color: #4f6367;
  margin-bottom: 1rem;
  box-shadow: $box-shadow-standard;
  color: #eee;
  border-radius: $border-radius-standard;

  &--logo {
    font-size: 2.5rem;
  }
}

.wizard {
  &--container {
    @include container-settings;
  }

  &--header {
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
    color: rgba($color-black, 0.7);
    &-icon {
      font-size: 2rem;
      padding-right: 1rem;
    }
    &-text {
      font-size: 2rem;
    }
    &:hover {
      color: $color-primary;
      text-shadow: 0.1rem 0.1rem 2rem rgba($color-primary, 0.3);
    }
  }

  &--progress {
    margin-bottom: 0.5rem;
    border: 1px solid silver;
    background: transparent;
    border-radius: 50px;
  }

  &--step {
    margin: 1rem 0;
    &-header {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    &-form {
      min-height: 250px;
    }
    &-cost {
      font-size: 1.3rem;
      padding: 1.5rem 0rem;
      font-weight: 500;
    }
  }

  &--buttons {
    &-prev {
      margin-right: 1rem;
    }
  }
}

.label {
  &--container {
    @include container-settings;
  }
  &--header {
    margin-bottom: 1rem;
    color: rgba($color-black, 0.7);
    font-size: 1.3rem;
  }
  &--sticker {
    border: 1px solid $color-black;
    border-radius: $border-radius-standard;
    padding: 0.5rem;
  }
  &--option {
    margin: 0.2 0.5rem;
    font-size: 2rem;
    font-weight: 500;
  }
}
